* {
  box-sizing: border-box;
}

.tile1 {
  background: #4bbe51;
  height: 30px;
  width: 30px;
  padding: 0;
  float: left;
}

.tile2 {
  background: #06830c;
  height: 30px;
  width: 30px;
  padding: 0;
  float: left;
}

.border {
  background: #000000;
  height: 30px;
  width: 30px;
  padding: 0;
  float: left;
}

.snake {
  background: #265cee;
  height: 30px;
  width: 30px;
  padding: 0;
  float: left;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}


.array{
  font-size: 12px;
}

.top-buttons {
  position: absolute;
  left: 650px; /* Adjust the right spacing */
  top: 20%;
  transform: translateY(-30%);
}

.bottom-buttons {
  position: absolute;
  left: 550px; /* Adjust the right spacing */
  top: 35%;
  transform: translateY(-30%);
}

.arrow {
  width: 100px;
  height: 100px;
  cursor: pointer;
  background-size: cover;
}